a.logo(href="index.html")
    svg.logo__icon(width='3.7rem' height='3.7rem')
        use(href='/images/sprite/sprite.svg#icons_icon-setting')
    p.logo__text Dashboard #[span.logo__version v.01]
    