.nav__item {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.nav__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 0.8rem;

	font-size: 1.4rem;
	font-weight: 500;
	color: $navTextColor;

	&.active {
		color: $white;
		background-color: $primary;
	}
}

.nav__link-content {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}
