.table {
	width: 100%;
	font-weight: 500;
	color: $primaryTextColor;
	border-collapse: collapse;
}

.table__head {
	color: $secondaryTextColor;
}

.table__row {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		background-color: $tableBorderColor;
	}
}

.table__head--underlined {
	&::after {
		left: -50%;
		width: 200%;
	}
}

.table__data {
	padding: 1.4rem 0;
}

.status {
	display: inline-flex;
	justify-content: center;
	min-width: 8rem;
	padding: 0.4rem 1.2rem;
	color: $inactiveStatusBorderColor;
	border-radius: 0.4rem;
	border: 1px solid $inactiveStatusBorderColor;
	background-color: $inactiveStatusColor;

	&.active {
		color: $activeStatusBorderColor;
		border: 1px solid $activeStatusBorderColor;
		background-color: $activeStatusColor;
	}
}
